/Authentications/Authentications/settings.py
/CustomAuthentication/CustomAuthentication/settings.py
/CustomPermission/CustomPermission/settings.py
/DjangoA/DjangoA/settings.py
/djangoAPI/djangoAPI/settings.py
/DRF_CODE/DRF_CODE/settings.py
/filter/filter/settings.py
/filtering/filtering/settings.py
/gs1/gs1/settings.py
/gs3/gs3/settings.py
/gs5/gs5/settings.py
/gs6/gs6/settings.py
/gs7/gs7/settings.py
/gs8/gs8/settings.py
/gs9/gs9/settings.py
/gs10/gs10/settings.py
/JWT/JWT/settings.py
/NEW_START/CRUD/CRUD/settings.py
/pages/pages/settings.py
/pratice1/pratice1/settings.py
/Pratice/Pratice/settings.py
/scoperate/scoperate/settings.py
/searchfilter/searchfilter/settings.py
/SessionAuthentication/SessionAuthentication/settings.py
/throttle/throttle/settings.py
/Token/Token/settings.py
/authdemo/authdemo/settings.py
